:root{
--Montserrat: 'Montserrat', sans-serif;
--Nunito: 'Nunito', sans-serif;
--Global-background : #f2ded5;
--nav-link: #C34960; 
--link-hover-color: #852A39; 
--text-color-link: #59514F; 
--text-color: #8C8584; 
/* color: #F2CED1; 
color: #F2ECEB; 
color: #F2DCDC; 
color: #F2CED1;  */
}

.wrapper{
    background-color: var(--Global-background);
    font-family: var(--Montserrat);
    display: flex;
    flex-direction: column;
}

.navbar{
    display: flex;
    justify-content: flex-end;
}

.navbar__item{
    margin: 0.5% 1%;
    list-style-type: none;
}

.navbar__item-link{
    margin: 15px;
    color: var(--nav-link);
    text-decoration: none;
    font-size: 18px;
}

.navbar__item-link:active{
    color: var(--link-hover-color);
}

.navbar__item-link:hover{
    color: var(--link-hover-color);
    font-size: 19px;
}

.breakline{
    border: 0.5px solid #59514F;
  
}

.aboutme{
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-between;
}

.aboutme__image{
    margin-top: 5%;
    background-image: url(../images/about-me1.JPG);
    height: 300px;
    width: 300px;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    border-radius:100% ;
}

.aboutme__title{
    font-weight: 500;
    margin-top: 2%;
    letter-spacing: 2px;
    color: var(--text-color-link);
    font-size: 30px;
}

.aboutme__text {
    color:var(--text-color);
    font-family: --Nunito;
    line-height: 2;
    font-size: 21px;
    text-align: center;
    padding: 0 15%;
}

.aboutme__link{
    color:var(--text-color-link);
    text-decoration: none;
}

.aboutme__link:hover{
    color:var(--link-hover-color);
}

.aboutme__link:active{
    color:#FFA6B2;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2% 25%;
}

.footer__text, .footer__link{
    display: contents;
    color: var(--text-color-link);
    font-size: 18px;
    text-decoration: none;
}

.footer__link:hover{
    color: var(--link-hover-color);
    font-size: 19px;
}
